--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.3.1
# torchaudio==2.3.1
torchvision==0.18.1

pytorch3d @ https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt231/pytorch3d-0.7.8-cp310-cp310-linux_x86_64.whl

pytorch_lightning
torch_geometric

wandb
transforms3d
trimesh
tqdm 
tensorboard
scipy
loguru
imageio
# moviepy
pyyaml
h5py
matplotlib
open3d

blinker==1.4


manopth @ git+https://github.com/hassony2/manopth.git@master 
# wis3d @ https://github.com/zju3dv/Wis3D/releases/download/2.0.3/wis3d-2.0.3-py3-none-any.whl
# chumpy @ git+https://github.com/mattloper/chumpy.git@master 
mani_skill==3.0.0b14

